@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=The+Season&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif,'The Season';
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}